[Desktop Entry]
Type=Application
Name=Tiptoe
Comment=A sneaky first person game about putting things back.
Exec=tiptoe
Icon=${SNAP}/meta/gui/tiptoe.svg
Categories=Game;ActionGame;
Keywords=stealth;sneak;burglar;first person;immersive sim;
StartupWMClass=Tiptoe
